<!-- wp:group {"style":{"dimensions":{"minHeight":"100vh"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group" style="min-height:100vh">
	<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

	<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"},"blockGap":"var:preset|spacing|60"},"layout":{"selfStretch":"fill","flexSize":null}},"layout":{"type":"constrained","wideSize":"454px"}} -->
	<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)">
		<!-- wp:pattern {"slug":"norrsken/hidden-404"} /-->
	</main>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
</div>
<!-- /wp:group -->